<footer class="bg-footer text-center text-gray-800 py-4 ">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/2 px-4">
        <h3 class="text-white font-bold text-xl mb-2">About</h3>
        <p class="text-white text-base">
          BotsCord is a Discord bot management platform.
        </p>
      </div>
      <div class="w-full lg:w-1/2 px-4">
        <h3 class="text-white font-bold text-xl mb-2">Social</h3>
        <ul class="list-reset items-center text-center">
          <li class="inline-block mr-2">
            <a href="https://discord.gg/BotsCord" class="text-white hover:text-gray-900">
              <span class="sr-only">Discord</span>
              <i class="fab fa-discord fa-2x"></i>
            </a>
          </li>
          <li class="inline-block mr-2">
            <a href="https://github.com/CorwinDev/BotsCord" class="text-white hover:text-gray-900">
              <span class="sr-only">GitHub</span>
              <i class="fab fa-github fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-white text-center">
    <p>
      © 2021 - 2022 BotsCord. All rights reserved. <br>
      Made with <i class="fas fa-heart text-red-500"></i> by <a href="https://corwin.dev"
        class="text-blue-400 hover:text-white">Corwin</a>.
    </p>
    <a href="//www.dmca.com/Protection/Status.aspx?ID=9779b7e3-0c06-40e3-b476-dbbf2b15280c" title="DMCA.com Protection Status" class="dmca-badge"> <img src="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=9779b7e3-0c06-40e3-b476-dbbf2b15280c" alt="DMCA.com Protection Status" /></a>
    <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
  </div>
</footer>