<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>BotsCord</title>
  <link href="/css/style.css" rel="stylesheet">
</head>

<body class="bg-primary-color">
  <!-- navbar in tailwind with login buttons -->
  <nav class="flex items-center justify-between flex-wrap p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <span class="font-semibold text-xl tracking-tight">BotsCord</span>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <a href="/bots" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4">
          Bots
        </a>
        <a href="/servers" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4">
          Servers
        </a>
      </div>
      <div>
        <% if (typeof user == "undefined") { %>
        <a href="/login" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Login</a>
        <% }else { %>
        <a href="/profile" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Profile</a>
        <% } %>
      </div>
    </div>
  </nav>
  <!-- end navbar in tailwind -->