<%- include('./includes/header.ejs', {title: 'Error ' + errorr}) %>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-white p-10">
            <h1 class="text-xl">Oeps something went wrong</h1>
            <p>Error: <%= errorr %></p>
        </div>
    </div>
</div>
<div class="prose"></div>