<%- include('./includes/header.ejs', {title: 'Privacy Policy'}) %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-white p-10">

      <h1 class="text-xl"> Privacy Policy</h1>
      <p>
        Your privacy is important to us. It is BotsCord policy to respect your privacy regarding any information we may collect from you across our website, https://botscord.xyz, and other sites we own and operate along with any services we offer.
      </p>
      <h2 class="text-xl text-button-primary">Stored Data</h2>
      </p>
      We collect your personal information provided by Discord upon sign in, this includes:

      Username
      User ID
      Avatar
      Discriminator
      Any data submitted to BotsCord such as bot pages will be stored and displayed on the site until deleted by a user or site administrator.
      </p>
      <h2 class="text-xl text-button-primary">Advertising</h2>
      <p>
        We use third party advertisements to support our site. Some of these advertisers may be served from our third party advertiser. You can view their privacy policy and cookie policy here. You can manage your cookies here.

        We use Google Analytics and Comscore to analyse the use of our website. Google Analytics gather information about website use by means of cookies. The information gathered relating to our website is used to create reports about the use of our website.
        Google’s privacy policy is available at: https://www.google.com/policies/privacy/.
      </p>
      <h2 class="text-xl text-button-primary">Cookies</h2>
      <p>Discord Bot List uses cookies to store authentication information. Cookies are also added by third party tracking.</p>

      <h2 class="text-xl text-button-primary">Links to third party Websites</h2>
      <p>We have included links on this site for your use and reference. We are not responsible for the privacy policies on these websites. You should be aware that the privacy policies of these sites may differ from our own.</p>

      <h2 class="text-xl text-button-primary">Embedded content from other websites</h2>
      <p>Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.

        These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracking your interaction with the embedded content if you have an account and are logged in to that website.</p>

      <h2 class="text-xl text-button-primary">Changes to this Privacy Statement</h2>
      <p>
        The contents of this statement may be altered at any time, at our discretion.</p>
    </div>
  </div>
</div>